<div class="news__item news__item--{{ variant }} {{ cssClass }}">
  <div class="news__box">
    <div class="news__head">
      <h3 class="news__name">{{ name }}</h3>
    </div>
    <div class="news__canvas">
      <div class="news__item-grunge"></div>
      <img
        class="news__product {{ cssClass }}"
        [src]="imageSrc"
        [alt]="name"
        loading="lazy"
        (click)="goToDetails()"
        style="cursor: pointer"
      />
    </div>
    <div class="news__foot">
      <span class="news__price">{{ price }}</span>
      <div
        class="news__bag"
        aria-label="Adicionar ao carrinho"
        (click)="goToCart()"
        style="cursor: pointer"
      >
        <img
          class="icon icon--bag"
          src="/assets/icons/shopping_bag.svg"
          alt="Adicionar ao carrinho"
        />
      </div>
    </div>
  </div>
</div>
