<header class="navbar">
  <div class="navbar__left">
    <a href="#hero" aria-label="Hero" class="navbar__logo-link">
      <img class="navbar__logo" src="/assets/LOGO_Marca.png" alt="Logo" />
    </a>
    <nav class="navbar__links">
      <a href="#lancamentos">Lançamentos</a>
      <a href="#produtos-populares">Produtos</a>
      <a href="#">Contato</a>
    </nav>
  </div>
  <div class="navbar__right">
    <div class="navbar__search">
      <input type="text" placeholder="Buscar" />
    </div>
    <button class="navbar__btn navbar__btn--outline">Entrar</button>
    <button class="navbar__btn navbar__btn--cart">Carrinho [01]</button>
  </div>
  <div class="navbar__glow"></div>
</header>
