.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: var(--color-text);
  z-index: 10;
}

.navbar__left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__logo {
  width: 90px;
  height: 90px;
  object-fit: contain;
}
.navbar__links {
  display: flex;
  gap: 1.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navbar__links a {
  font-size: 20px;
  font-weight: 600;
  color: #27272a;
  text-decoration: none;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.navbar__search {
  position: relative;
}
.navbar__search input {
  height: 36px;
  width: 220px;
  background: rgba(255, 255, 255, 0.06) url("/assets/lupa_busca.png") 10px
    center / 16px no-repeat;
  border: 1.5px solid rgba(255, 217, 0, 0.9);
  border-radius: 8px;
  color: var(--color-text);
  padding: 0 0.75rem 0 2rem;
}

.navbar__search input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.navbar__btn {
  height: 36px;
  padding: 0 1rem;
  border-radius: 10px;
  border: none;
  background: url("../../../assets/btn_fundo.png") center/100% 100% no-repeat;
  color: #ffffff;
  // box-shadow: 0 0 0 2px rgba(123, 0, 0, 0.6) inset,
  // 0 4px 12px rgba(0, 0, 0, 0.35);
}

.navbar__btn--outline {
  background: url("/assets/fundo_btn_entrar.png") center/100% 83% no-repeat;
}

.navbar__btn--cart {
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
}

.navbar__glow {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  height: 120px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0) 60%
  );
  filter: blur(8px);
  pointer-events: none;
}
