<div class="cart">
  <app-navbar></app-navbar>

  <div class="cart__wrapper">
    <div class="cart__bg" aria-hidden="true"></div>

    <div class="cart__content">
      <div class="cart__container">
        <h1 class="cart__title">CARRINHO</h1>
        <p class="cart__subtitle">Seus produtos selecionados</p>

        <div class="cart__empty">
          <p>Seu carrinho está vazio.</p>
          <p>Adicione produtos clicando nos ícones de sacola!</p>
        </div>
      </div>
    </div>
  </div>
</div>
