<footer id="footer" class="footer">
  <div class="footer__container">
    <!-- Logo Section -->
    <div class="footer__logo-section">
      <img src="/assets/LOGO_Marca.png" alt="Logo" class="footer__logo" />
    </div>

    <!-- Links Sections -->
    <div class="footer__links-wrapper">
      <!-- Sobre -->
      <div class="footer__links-group">
        <h3 class="footer__title">Sobre</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Nossa História</a></li>
          <li><a href="#" class="footer__link">Missão e Valores</a></li>
          <li><a href="#" class="footer__link">Equipe</a></li>
          <li><a href="#" class="footer__link">Carreiras</a></li>
        </ul>
      </div>

      <div class="footer__links-group">
        <h3 class="footer__title">Produtos</h3>
        <ul class="footer__links">
          <li><a href="#lancamentos" class="footer__link">Lançamentos</a></li>
          <li><a (click)="navigateToProducts('tenis')" class="footer__link" style="cursor: pointer;">Tênis</a></li>
          <li><a (click)="navigateToProducts('skate')" class="footer__link" style="cursor: pointer;">Skates</a></li>
          <li><a (click)="navigateToProducts('basket')" class="footer__link" style="cursor: pointer;">Bolas</a></li>
        </ul>
      </div>

      <!-- Suporte -->
      <div class="footer__links-group">
        <h3 class="footer__title">Suporte</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Central de Ajuda</a></li>
          <li><a href="#" class="footer__link">Trocas e Devoluções</a></li>
          <li><a href="#" class="footer__link">Guia de Tamanhos</a></li>
          <li><a href="#" class="footer__link">FAQ</a></li>
        </ul>
      </div>

      <!-- Contato -->
      <div class="footer__links-group">
        <h3 class="footer__title">Contato</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">Fale Conosco</a></li>
          <li>
            <a href="#" class="footer__link">Email: contato&#64;loja.com</a>
          </li>
          <li><a href="#" class="footer__link">Telefone: (11) 9999-9999</a></li>
          <li><a href="#" class="footer__link">Redes Sociais</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer__copyright">
    <p>&copy; 2025 ImpactStore. Todos os direitos reservados.</p>
  </div>
</footer>
